.app.dark {
  --bg-color: #1c1e1f;
  --inverted-bg-color: #fffef5;

  --primary-color: #05bfdb;
  --secondary-color: #088395;
  --inverted-primary-color: #158bba;
  --inverted-secondary-color: #088395;
}
